@page
@model Rezor_MoviePage.Pages.IndexModel

<div class="container" style="display: flex; justify-content: center; min-height: calc(100vh - 80px);">
    <div class="jumbotron" style="position:center">
        <h2 class="display-3">Кинотеатр Россия</h2>
        <h3 class="display-3">Сегодня показ:</h3>
        <p>Тарантино</p>
        <p>Михалков</p>
        <p>ДедПул</p>
        <p>Бетмен</p>
        <p>Человек Паук</p>
    </div>
</div>
